nav {
  width: 60%;
  background-color: var(--bg-color);

  padding-inline: 1em;
  margin: 0 auto;

  border: 1px solid var(--border-color);

  & ul:first-child svg {
    width: 1.5em;
    height: 1.5em;
  }

  & ul {
    padding: 0;
    list-style: none;

    width: 100%;
    display: flex;
    justify-content: space-around;

    filter: drop-shadow(10px);

    & li {
      cursor: pointer;
    }

    & a {
      text-decoration: none;
      text-transform: lowercase;
      color: inherit;
      font-size: 0.9em;
      font-weight: bold;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (width <= 940px) {
  nav {
    width: 100%;
    height: fit-content;
    padding-inline: 0;
    margin: 0;
    border: 0px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    position: fixed;
    inset: 0;
    z-index: 1;

    & li {
      font-size: 0.87em;
      & a {
        text-transform: uppercase;
      }
    }
  }

  /* Media icons */
  .media-icons {
    width: 50% !important;
  }
  /* What I do articles */
  .what-i-do-container {
    width: 85%;
    margin: 0 auto;

    & h1:first-of-type {
      padding-top: 1.5em;
      text-align: center;
    }

    & p {
      padding-top: 0.45em;
      line-height: 1.8em;
      word-spacing: 0.2em;
    }

    & ul {
      padding-left: 0;
      list-style: none !important;
    }
  }
  /* Experience */
  .article:has(.work-tile) {
    & .work-tile {
      width: 85%;
      margin: 0 auto;
    }
    & h4:first-of-type {
      padding-top: 3em;
    }

    & p {
      padding-top: 0.45em;
      line-height: 1.8em;
      word-spacing: 0.2em;
    }

    & ul {
      padding-left: 0;
      list-style: inside;
    }
  }
  /* Projects */
  .article:has(.project-tile) {
    padding-top: 3em;
  }
  .project-tile {
    flex-direction: column;
    padding-top: 2em;

    & video {
      width: 100% !important;
      height: auto;
    }

    & ul {
      padding-left: 0;
      list-style: inside !important;

      & li {
        margin-block: 0.4em;
      }
    }
  }

  /* Awards */
  .article:has(.award-tile) {
    padding-top: 3em;
  }
  /* Education */
  .article:has(.education-container) {
    padding-top: 3em;

    & .education-tile {
      flex-direction: column;
      margin-bottom: 1em;
    }
  }
  /* Awards */
  .article:has(.award-tile) {
    width: 85%;
    margin: 0 auto;
    flex-direction: column;

    & .award-tile {
      width: 100%;
    }
  }
}

@media only screen and (orientation: portrait) {
  /* What I do articles */
  .what-i-do-container {
    & .left-side {
      display: none;
    }
    & .right-side {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
}

@media only screen and (width <= 940px) and (orientation: landscape) {
  .round-img-container {
    display: none;
  }
  nav li {
    font-size: 1em;
  }
  .intro-container {
    height: 0;
  }
}
