.article:has(.project-tile) {
  width: 90%;
  margin: 0 auto;
}

.project-tile {
  display: flex;
  gap: 1em;
  margin-block: 1em;
  padding: 0.4em;
  border: 0px solid var(--border-color);
  box-shadow: 1px 1px 7px 0.5px var(--border-color);

  & video {
    width: auto;
    height: 100%;
  }

  & h4 {
    margin: 0.1em;
  }

  & .project-description {
    & p {
      padding-block: 0.45em;
      line-height: 1.6em;
      word-spacing: 0.2em;
    }
  }

  & .tech-details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
  }
  & p {
    margin: 0;
  }

  & div:has(img) {
    width: 100%;
    margin-block: auto;

    & img {
      object-fit: cover;
      width: 100%;
    }
  }

  & a:has(svg) {
    fill: var(--border-color);
    display: flex;
    align-items: baseline;

    & svg {
      margin-left: 0.2em;
      width: 12px;
      height: 12px;
    }
  }
}
