/* Desktop */
@media screen and (width > 701px) {
  body {
    margin: 30px;
    padding: 0;
    display: grid;
    grid-area: 20px;
  }

  header ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    border-radius: 5px;
  }
  #info {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(3, 20%);
  }
}
