@import "./mobile.css";
@import "./desktop.css";

body {
  --primary1: #e0c1b3;
  --primary2: #aeb4a9;
  background-color: var(--primary1);

  /* heading fonts */
  --headers-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-font: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  font-family: var(--headers-font);
}

p {
  font-family: var(--text-font);
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #424242;
    --sub-primary: #ab68ff;
    --primary1: #212121;
    --primary2: #378dfe;
    --border-color: rgb(227, 227, 227);
    --text-color: var(--border-color);
    background-color: var(--background);
    color: var(--text-color);
  }
}

header {
  background-color: var(--primary1);
  border-radius: 5px;
  filter: drop-shadow(1px 1px 4px var(--primary1));
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

header li {
  border-bottom: 1px solid var(--primary2);
  font-size: 25px;
  padding: 13px 20px;
}

.tab-title {
  cursor: pointer;
  transition: all 0.4s ease;
  font-family: var(--headers-font);
}

.tab-title:hover {
  border-color: var(--primary2);
}

li.active {
  border-radius: 5px;
  border-color: var(--primary2);
  background-color: var(--primary2);
  height: 100%;
}

@keyframes slider {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.slider {
  animation: slider 0.8s linear;
}

@keyframes slider-up {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.slider-up {
  animation: slider-up 0.8s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
