.article:has(.education-container){
  width: 90%;
  margin: 0 auto;
}
.education-container{
  display: flex;
}
.education-tile {
  width: 50%;
  display: flex;
  gap: 1em;

  & img, svg {
    width: 30%;
    fill: var(--border-color);
  }
}

@media only screen and (width <= 1000px) {
.education-container{
  flex-direction: column;
}
  .education-tile {
    width: 100%;
  }
}
