.what-i-do-container {
  --left-side-w: 20%;
  position: relative;

  & .left-side {
    position: fixed;
    left: 0;
    top: 20%;
    width: var(--left-side-w);

    & ul {
      list-style: none;

      & a {
        cursor: pointer;
        text-decoration: none;
      }

      & li {
        margin-block: 1em;
      }

      & li:hover {
        text-decoration: underline;
        text-underline-offset: 0.3em;
      }
    }
  }

  & .right-side {
    --margin-left: calc(100% - (100% - var(--left-side-w)));
    margin-left: var(--margin-left);
    width: calc(60%);

    & li {
      list-style: outside;
      margin-block: 1em;
      & strong {
        text-transform: uppercase;
      }
    }
  }
}
