body {
  --text-color: #403d39;
  --emphesis-color: #005ce6;
  padding: 0;
  margin: 0;
  background-size: cover;
  color: var(--text-color);
  /* background-image: url("./title_scene-min.png"); */
}

@media screen and (width > 1051px) {
  body {
    background-image: url("./title_scene-min.png");
  }
  main {
    & h1 {
      font-size: 3em;
    }
    & h2 {
      font-size: 2em;
    }
  }
  & ul {
    font-size: 1.8em;
  }
  footer {
    margin: 2% 0 0 5%;
    justify-content: baseline;
    align-items: center;

    & span:last-child {
      font-size: 3em;
    }
  }
}

@media screen and (width <= 1050px) {
  body {
    background-image: url("./title-mobile-II.png");
  }
  main {
    & h1 {
      font-size: 2em;
    }
    & h2 {
      font-size: 1.5em;
    }
    & ul {
      font-size: 1.3em;
      padding: 10px;
    }
  }
  footer {
    margin: 5% 0 0 5%;
    justify-content: baseline;
    flex-direction: column;
    gap: 20px;

    & image {
      object-fit: cover;
      width: 100px;
    }

    & span:last-child {
      font-size: 3em;
    }
  }
}

main {
  margin: 5% 0 0 5%;
  & h1 {
    color: var(--emphesis-color);
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div#info_section {
  position: relative;
  padding: 10px;
  width: 330px;
  color: beige;
  border-radius: 10px;
  border: 7px double orange;
  background-color: #403d39;

  & h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid orange;
  }

  & section.info_section_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & .close_info_container {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2.4rem;
    will-change: auto;
  }
}
.rotate {
  animation: 3s infinite rotate;
}
.slide_out{
  animation: slide_out 1s 1 linear forwards;
}
.slide_in{
  animation: slide_in 1s;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes slide_in {
  0%{
    transform: translateX(30%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide_out {
  0%{
    transform: translateX(0%);
    opacity: 1;
  }
  100%{
    transform: translateX(-150%);
    opacity: 0;
    display: none;
  }
}

div#visit_button {
  cursor: pointer;
  width: 40px;
  margin-top: 35px;
  border: 1px solid orange;
  padding: 20px;
  background-color: orange;
  border-radius: 30px;
  text-align: justify;
  & a {
    color: #ab68ff;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
a {
  text-decoration: none;
}

footer {
  display: flex;
  gap: 20px;
}
